<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="室內裝修估價系統.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <室內裝修估價系統.My.MySettings>
            <setting name="DataBasePath" serializeAs="String">
                <value />
            </setting>
            <setting name="NASIP" serializeAs="String">
                <value />
            </setting>
            <setting name="NASACC" serializeAs="String">
                <value />
            </setting>
            <setting name="NASPWD" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdateDate" serializeAs="String">
                <value>1990-01-01</value>
            </setting>
            <setting name="PSQLServer" serializeAs="String">
                <value />
            </setting>
            <setting name="PicSQLPath" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstStart" serializeAs="String">
                <value>0</value>
            </setting>
        </室內裝修估價系統.My.MySettings>
    </userSettings>
</configuration>